{% extends 'layout.html' %}
{% block title %}Explore global music trends{% endblock %}
{% block body %}
    {{ super() }}
    <script>
        $(function() {
            $('#the-form').bind('submit', function() {
                $.getJSON('/_artist_stuff', {
                    text: $('#input').val()
                }, function(data) {
                    $("#result").html(data.result);
                });
                return false;
            });
        });
    </script>

    <section id="header">
        <h2>Explore global music trends</h2>
        <form action="." method="POST" id="the-form">
            <input type="text" name="text" id="input">
            <input type="submit" name="my-form" value="Send" id="submit">
        </form>
        <p id="result"></p>
    </section>

    <iframe id="map" src="https://mikebozee.carto.com/builder/67d76e64-6de8-4543-861d-5ff9ebfa6419/embed">

    <!-- <script>
        $(function() {
            $('#submit').bind('click', function() {
                var artist = $('#input').val();
                $.ajax({
                    url: '/',
                    data: $('form').serialize(),
                    type: 'POST',
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });
    </script> -->

{% endblock %}